<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VoteSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>swu.doom.user.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>swu.doom.user.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logged-in/logout</url-pattern>
	</servlet-mapping>	

	<servlet>
		<servlet-name>signupServlet</servlet-name>
		<servlet-class>swu.doom.user.SignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signupServlet</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>loginRequireServlet</servlet-name>
		<servlet-class>swu.doom.user.LoginRequireServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginRequireServlet</servlet-name>
		<url-pattern>/loginRequire</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>validateCodeServlet</servlet-name>
		<servlet-class>swu.doom.validatecode.ValidateCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>validateCodeServlet</servlet-name>
		<url-pattern>/validateCode</url-pattern>
	</servlet-mapping>


	<filter>
	   <filter-name>authFilter</filter-name>
	   <filter-class>swu.doom.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
	   <filter-name>authFilter</filter-name>
	   <url-pattern>/voteto.jsp</url-pattern>
	</filter-mapping>
	
  
  <servlet>
  <servlet-name>searchCharServlet</servlet-name>
  <servlet-class>swu.doom.character.SearchCharServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>searchCharServlet</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>listCharServlet</servlet-name>
  <servlet-class>swu.doom.character.ListCharServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>listCharServlet</servlet-name>
    <url-pattern>/logged-in/backend</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>addCharServlet</servlet-name>
  <servlet-class>swu.doom.character.AddCharServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>addCharServlet</servlet-name>
    <url-pattern>/logged-in/add</url-pattern>
  </servlet-mapping>
  
    <filter>
	   <filter-name>charsetFilter</filter-name>
	   <filter-class>swu.doom.filter.CharsetFilter</filter-class>
	</filter>
	<filter-mapping>
	   <filter-name>charsetFilter</filter-name>
	   <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>voteServlet</servlet-name>
		<servlet-class>swu.doom.character.VoteCharServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>voteServlet</servlet-name>
		<url-pattern>/vote</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ajaxListServlet</servlet-name>
		<servlet-class>swu.doom.character.AjaxListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajaxListServlet</servlet-name>
		<url-pattern>/characters</url-pattern>
	</servlet-mapping>
	
 
</web-app>